/*
 * CustomHeaderSignature.Standard
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Newtonsoft.Json.Converters;
using CustomHeaderSignature.Standard;
using CustomHeaderSignature.Standard.Utilities;
using CustomHeaderSignature.Standard.Http.Request;
using CustomHeaderSignature.Standard.Http.Response;
using CustomHeaderSignature.Standard.Http.Client;
using CustomHeaderSignature.Standard.Exceptions;

namespace CustomHeaderSignature.Standard.Controllers
{
    public class CustomHeaderSignatureController: BaseController
    {
        public CustomHeaderSignatureController(Configuration config) : base(config)
        {
            
        }

        public CustomHeaderSignatureController(Configuration config, HttpCallBack httpCallBack) : base(config, httpCallBack)
        {
            
        }

        /// <summary>
        /// TODO: type endpoint description here
        /// </summary>
        /// <return>Returns the string response from the API call</return>
        public string GetCustomHeaderSignature()
        {
            Task<string> t = GetCustomHeaderSignatureAsync();
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// TODO: type endpoint description here
        /// </summary>
        /// <return>Returns the string response from the API call</return>
        public async Task<string> GetCustomHeaderSignatureAsync()
        {
            //the base uri for api requests
            string _baseUri = config.GetBaseURI();

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/auth/customHeaderSignature");

            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" }
            };
            _headers.Add("token", config.Token);

            //prepare the API call request to fetch the response
            HttpRequest _request = GetClientInstance().Get(_queryUrl,_headers);
            if (HttpCallBack != null)
            {
                HttpCallBack.OnBeforeHttpRequestEventHandler(GetClientInstance(), _request);
            }

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await GetClientInstance().ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request, _response);
            if (HttpCallBack != null)
            {
                HttpCallBack.OnAfterHttpResponseEventHandler(GetClientInstance(), _response);
            }

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return _response.Body;
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 